@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-main {
  background-color: white;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
  bottom: 0;
  position: fixed;
}
.nav-text{
  margin-right: 10px;
  text-align: right;
}

.arrow {
  font-size: 250%;
  transform: scaleX(-1);
}

.senior-global {
  display: flex;
  flex-direction: column;
}

.senior-text {
  font-size: 250%;
  text-align: center;
}

.senior-header-text {
  font-size: 250%;
  text-align: left;
}

.senior-subheader-text {
  font-size: 150%;
  text-align: left;
  margin-left: 10px;
}

.senior-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.senior-subheader {
  width: 60%;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.senior-body {
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

body {
  background-color: lightgray;

}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border: 3px solid black;
  border-radius: 40px;
  width: 70%;
  height: 200px;
  overflow: hidden;
  font-size: 250%;
  box-shadow: 4px 4px 2px gray;
  background-color: white;
}

.main-box:hover {
  cursor: pointer;
}


.sveiki {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 300%;
}